<aside id="default-sidebar"
  class="hidden sm:block fixed top-0 left-0 z-40 w-64 h-screen bg-gray-800 fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar">
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
      <li *ngFor="let item of menu">
        <a [routerLink]="item.path" routerLinkActive="!bg-blue-700 !text-white dark:text-white"
          [routerLinkActiveOptions]="{ exact: true }"
          class="flex items-center p-2 text-white rounded-lg dark:text-white hover:bg-gray-800 hover:text-white dark:hover:bg-gray-700 group">
          <svg
            class="w-5 h-5 text-white transition duration-75 dark:text-white group-hover:text-white dark:group-hover:text-white"
            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" [attr.viewBox]="item.iconViewBox">
            <path [attr.d]="item.iconPath1" />
            <path *ngIf="item.iconPath2" [attr.d]="item.iconPath2" />
          </svg>
          <span class="ms-3">{{ item.label }}</span>
        </a>
      </li>

    </ul>
  </div>
</aside>
